
{% 
    set links = {
        0:{'url' : path('company_subscriptions', {'id': company.id}),  'title' : 'Orders', 'route' : 'company_subscriptions'},
        1:{'url' : path('company_subscribe', {'id': company.id}),  'title' : 'Order_new_subscription', 'route' : 'company_subscribe'},
        2:{'url' : path('company_user_show', {'id': company.id}),  'title' : 'Users', 'route' : 'company_user_show'},
        3:{'url' : path('company_employment_contracts', {'id': company.id}),  'title' : 'Employment_contracts', 'route' : 'company_employment_contracts'},
        4:{'url' : path('company_settings', {'id': company.id}),  'title' : 'Settings', 'route' : 'company_settings'}
    } 

%}

{% for link in links %}
    {% if link.route == route_name %}
        <a href="{{link.url}}" class="btn btn-primary btn-xs active">{{link.title|trans}}</a>
    {% else %}
        <a href="{{link.url}}" class="btn btn-default btn-xs">{{link.title|trans}}</a>
    {% endif %}
{% endfor %}