/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2014, 4:26:57 PM
    Author     : kriss
*/


body {
    padding-top: 70px;
}
.master-loginform {
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px #ccc;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    top: 100px;
    width: 350px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.formField {
    padding: 5px 0;
}
.formField .btn {
    width: 100%;
}
.frm-small {
    height: 25px;
}
.page-heading {
    height: 48px;
    padding: 0 0 0 60px;
}
.user-groups {
    background-image: url("../../assets/icons/groups48.png");
    background-repeat: no-repeat;
}
.user {
    background-image: url("../../assets/icons/user48.png");
    background-repeat: no-repeat;
}
.resource-groups {
    background-image: url("../../assets/icons/folder48.png");
    background-repeat: no-repeat;
}
.resource {
    background-image: url("../../assets/icons/protected-t48.png");
    background-repeat: no-repeat;
}
.password {
    background-image: url("../../assets/icons/password48.png");
    background-repeat: no-repeat;
}
.icon-row {
    width: 22px;
}
.row-icon {
    display: block;
    height: 22px;
    line-height: 20px;
    width: 22px;
}
.resource-row-icon {
    background-image: url("../../assets/icons/protected22.png");
    background-repeat: no-repeat;
}
.resource-groups-row-icon {
    background-image: url("../../assets/icons/folder22.png");
    background-repeat: no-repeat;
}
.user-row-icon {
    background-image: url("../../assets/icons/user22.png");
    background-repeat: no-repeat;
}
.user-groups-row-icon {
    background-image: url("../../assets/icons/usergroups22.png");
    background-repeat: no-repeat;
}
.password-row-icon {
    background-image: url("../../assets/icons/password22.png");
    background-repeat: no-repeat;
}
.pagination li.disabled > a:hover {
    cursor: default;
}
.list-group-item {
    background-color: transparent;
    border: medium none;
}
.list-group {
    margin-bottom: 0;
}
.footer {
    background-color: #444;
    color: #ffffff;
    font-family: tahoma;
    font-size: 11px;
    height: 15px;
}
.footer a {
    color: #ffffff;
    font-family: tahoma;
    font-size: 11px;
}
.no-form {
    overflow: auto;
}
.label-no-form {
    padding-left: 0;
}
.secured {
    background-image: url("../../assets/images/secured-pattern.png");
    background-repeat: repeat;
}
.hr {
    height: 40px;
    margin: 20px 0;
}
